[Desktop Entry]
Type=Application
Version=1.0
Name=ProjectCenter
Comment=GNUstep IDE
Exec=ProjectCenter
Icon=projectcenter
Terminal=false
Categories=Development;IDE;
