[Desktop Entry]
Type=Application
Version=1.0
Name=Gorm
Comment=GNUstep interface builder
Exec=Gorm
Icon=gorm
Terminal=false
Categories=Development;GUIDesigner;
